.footer {

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		line-height: 1;
	}

	.copyright {
		width: 50%;
		@include min-width( $screen-md ) {
			width: 33.33%;
		}
	}

	.copyright .title {
		@extend %small;
	}

	.socials {
		order: -1;
		width: 100%;
		@include min-width( $screen-md ) {
			order: 0;
			width: 33.33%;
		}
	}

	.socials ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.socials li {
		margin: .25rem;
	}

	.socials a {
		@extend %background-icon;
		display: block;
		width: 1.25em * $line-height-base;
		height: 1.25em * $line-height-base;
	}

	.socials a.facebook { @extend %icon-facebook; }
	.socials a.linkedin { @extend %icon-linkedin; }
	.socials a.instagram { @extend %icon-instagram; }
	.socials a.freelancehunt { @extend %icon-freelancehunt; }
	.socials a.kwork { @extend %icon-kwork; }

	.developer {
		@extend %small;
		width: 50%;
		text-align: right;
		@include min-width( $screen-md ) {
			width: 33.33%;
		}
	}

	a {
		color: #fff;
	}

	strong {
		color: #fff;
	}

}