.footer {

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		line-height: 1;
	}

	.copyright {
		width: 50%;
		@include min-width( $screen-md ) {
			width: 33.33%;
		}
	}

	.copyright .title {
		@extend %small;
	}

	.socials {
		order: -1;
		width: 100%;
		@include min-width( $screen-md ) {
			order: 0;
			width: 33.33%;
		}
	}

	.developer {
		@extend %small;
		width: 50%;
		text-align: right;
		@include min-width( $screen-md ) {
			width: 33.33%;
		}
	}

	a {
		color: #fff;
	}

	strong {
		color: #fff;
	}

}