.header {

	.container {
		display: flex;
		align-items: center;
	}

	.custom-logo {
		display: block;
		max-width: 6rem;
		max-height: 3rem;
		width: auto;
		height: auto;
	}

	.languages {
		margin-left: auto;
		@include min-width ( $screen-lg ) {
			margin-left: 1rem;
		}
	}

	.languages + .burger {
		margin-left: 2rem;
	}

	.menu {
		display: none;
		list-style-type: none;
		margin-left: auto;
		@include min-width ( $screen-lg ) {
			display: flex;
		}
	}

	.menu a {
		display: block;
		padding: .5rem 1.25rem;
		font-weight: 500;
	}

	.menu a.current-menu-item {
		color: $brand-primary;
	}

	.menu li {
		display: flex;
		align-items: center;
	}

	.menu li + li::before {
		content: '';
		width: 1px;
		height: 1em;
		background-color: rgba( 0, 0, 0, .10 );
		border-right: 1px solid rgba( 255, 255, 255, .75 );
	}

	.burger {
		margin-left: auto;
		@include min-width ( $screen-lg ) {
			display: none;
		}
	}

}