//-	Главная страница
//- Первый экран

.section--jumbotron {

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.thumbnail {
		margin: 3rem;
	}

	.content {
		margin: 3rem;
	}

}