.tags {

	li {
		@extend %mr-3;
		display: inline-block;
	}

	li::before {
		@extend .text-primary;
		content: '#';
		font-weight: 600;
		margin-right: .15em;
	}

	a:hover {
		color: $link-color;
	}

}