
//
// Заголовки
//

%title {
  	margin-top: .5rem;
  	margin-bottom: .5rem;
  	font-family: $font-family-titles;
  	letter-spacing: 1px;
}

%h1 {
	@extend %title;
	font-size: 1.75rem;
	font-weight: bold;
	@include min-width( $screen-sm ) {
		font-size: 3rem;
	}
}


%h2 {
	@extend %title;
	font-size: 1.5rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-left: 5rem;
	position: relative;
	font-weight: normal;
	@include min-width( $screen-sm ) {
		font-size: 1.875rem;
		padding-left: 7.5rem;
	}
	&::after,
	&::before {
		content: '';
		height: 3px;
		background-color: $brand-primary;
		position: absolute;
	}
	&::before {
		width: 3.25rem;
		top: .75rem;
		left: 0;
		@include min-width ( $screen-sm ) {
			width: 6.5rem;
			top: 1rem;
			left: 0;
		}
	}
	&::after {
		width: 1.625rem;
		top: 1.5rem;
		left: 1.625rem;
		@include min-width ( $screen-sm ) {
			width: 3.25rem;
			top: 1.75rem;
			left: 3.25rem;
		}
	}
}

%h3 {
	@extend %title;
	font-size: 1.20rem;
	text-transform: uppercase;
	font-weight: normal;
}

%h4 {
	@extend %title;
	font-size: 1rem;
	font-weight: normal;
}