.home {

	.wrapper__item--main {
		margin-top: 0;
		margin-bottom: 0;
	}	

	.wrapper__item--panel {
		background-color: transparentize( $brand-primary, .25 );
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}

}