// Страница поиска

.search {

	.heading h1 {
		@extend %h3;
	}

	.heading {
		@extend %mt-3;
		@extend %mb-3;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: .1rem solid $border-color;
	}

	.heading .label {
		@extend %small;
	}

	.heading .value {
		@extend %small;
		color: $brand-primary;
	}

}