extend layout/_index


block variables
	- page.type = 'error404';
	- page.title = 'Страница не найдена';


block wrapper

	.container.text-center.pt-3.pb-3
			
		img.logo.lazy.center-block( src=src.img+'error404.png' alt=page.title )
				
		h1.title #{page.title}
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae non magnam expedita possimus facilis, placeat, perferendis quam incidunt sapiente id quibusdam, voluptatem est aliquid repellat consectetur, dolorum quas tempora. Ducimus!
		a.btn.btn-success.mt-3( href="home.html" ) Вернуться на главную

	include parts/_enqueue