extend layout/_index


block variables
	- page.type = 'home';
	- page.title = 'Главная';



block main
	include parts/_jumbotron
	include parts/_about
	include parts/_technologes
	include parts/_skills
	//- include parts/_blog
	include parts/_feedback