//-
	Главная страница
	Блог

section.section.section--blog.blog.bg-gray#blog
	
	.container
		h2#blog-title Мой блог

		include _list

		p.text-center.mt-3
			a.btn.btn-primary.btn-lg#blog-more Загрузить ещё