//-
	Главная страница
	Обратная связь

section.section.section--feedback.feedback.bg-gray#feedback
	.container

		h2#feedback-title Связаться со мной

		p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

		include ../forms/_contact
