//-
	Шапка сайта

.container
	
	a.custom-logo-link( href="home.html" )
		img.custom-logo( src=src.userfiles+'logo.png' alt='Логотип сайта' )


	ul.menu
		li: a( href="home.html" ) Главная
		li: a( href="singular.html" ) Об авторе
		li: a( href="archive.html" ) Блог
		li: a( href="404.html" ) Контакты

	include _languages

	include _burger