//-
	Шапка сайта

.container
	
	a.custom-logo-link( href="#" )
		img.custom-logo( src=src.userfiles+'logo.png' alt='Логотип сайта' )


	ul.list
		li: a( href="#" ) Главная
		li: a( href="#" ) Об авторе
		li: a( href="#" ) Блог
		li: a( href="#" ) Контакты

	include _burger