//-
	Главная страница
	Технологии

mixin technologes_item
	img.entry( src=src.userfiles+'qtest.png' alt='qTest' )

section.section.section--technologes.technologes.bg-primary#technologes
	.container

		h2#technologes-title.sr-only Технологии

		#technologes-wrap.text-center
			+technologes_item
			+technologes_item
			+technologes_item
			+technologes_item
			+technologes_item